html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
header{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    position: sticky;
    top: 0;
    background-color: white;
    height: 77px;
   }
   nav ul li a {
    text-decoration: none;
    color: black;
}
.searchbar{
    width:18vw;
    padding: 4px 10px;
    border: 0.5px solid grey;
    background-color: #f7f8fd;
    border-radius: 5px;
}
.profile,
.wishlist,
.bag {
    display: flex;
    flex-direction: row;
    }

 .right img  {
   height: 15px;
    width: 15px;
   
   }
   .profile a,
   .wishlist a,
   .bag a {
       text-decoration: none; 
       color: inherit; 
      }
.left img{
    width: 50px;
    height: 60px;
}
nav{
    font-size: 12px;
    font-weight: bold;
padding-top: 12px;}


.container{
   padding: 0 14vw;
   ;
 }
nav ul li{
    list-style: none;
    padding: 0 12px;
}
/*slider*/

.section1{
min-height: 122vh;
overflow: hidden;
background-color: #f2f2f2;
display: flex;

padding-top:20px ;

}
.section1 img{
    height: 47%;
    width: 100hw;
}
.card-details {
    
    padding: 10px;
    flex: 1;
}

.card-details h2 {
    margin-bottom: 10px;
    
}

.card-details p {
    color: #555;
}


.card-details a {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-details a:hover {
    background-color: #2980b9;
}

/*coupen code*/
.coupen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupen img {
    width: 70%;
    max-width: 100%; 
    margin-top: -15%;
}
/*category card*/

.catcard{
    background-color: rgb(235, 250, 250);
}
.catcard h2 {
    text-align: center;
    padding: 15px;

}

.uppercase {
    text-transform: uppercase;
}

.cursive {
    font-style: italic;


}
.small-card{
   border: 1px solid none;
    box-sizing: border-box;
    width: fit-content;
    height: 10%;
    background-color: #d5e77a;

}
.card-image{

padding: 10px;
}
.card-image img{
    height: 150px;
}
.Categorycard{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
   gap: 10px;
    
  
}
.card-description p,h4{
    text-align: center;
    line-height: 0.01;
}

.offercoupen{
    color: white;
    background-color:#FF6562;
   
}
.offercoupen {
    font-style: italic;
    }
 /*footer section*/

  footer{
    display: flex;
flex-direction: row;
justify-content: space-evenly;
line-height: 2.1;
background-color: antiquewhite;

  }
  footer a,ul {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: small;
}
footer ul li{
    font-size: smaller;
    color: rgb(123, 118, 118);
    text-align: center;

}
.social_media li {
    display:inline-block;
padding-top: 10%;
   
   
  
}