html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
header{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    position: sticky;
    top: 0;
    background-color: white;
    height: 77px;
   }
.searchbar{
    width:18vw;
    padding: 4px 10px;
    border: 0.5px solid grey;
    background-color: #f7f8fd;
    border-radius: 5px;
}
.profile,
.wishlist,
.bag {
    display: flex;
    flex-direction: row;
    }

 .right img  {
   height: 15px;
    width: 15px;
   
   }
   .profile a,
   .wishlist a,
   .bag a {
       text-decoration: none; 
       color: inherit; 
      }
.left img{
    width: 50px;
    height: 60px;
}
nav{
    font-size: 12px;
    font-weight: bold;
padding-top: 12px;}


.container{
   
    padding: 0 10vw;
 }
nav ul li{
    list-style: none;
    padding: 0 12px;
}
/*slider*/
.section1{
height: 122vh;
background-color: #f2f2f2;
display: flex;
padding-top:100px ;
}


.section1 img{
    height: 46%;
    width: 100hw;
}
.card-details {
    padding: 20px;
    flex: 1;
}

.card-details h2 {
    margin-bottom: 10px;
}

.card-details p {
    color: #555;
}


.card-details a {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-details a:hover {
    background-color: #2980b9;
}
