
.container {
  display: flex;
  justify-content: center;
  text-align: center;
  
    
}

.btn {
  border: 2px solid gray;
  height: 40dvw;
  width: 60vh;
  background-color:rgb(28, 26, 26);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  
}

button {
cursor:pointer;
    padding: 15px;
    text-align: center;
    margin:12px;
   color: white;
   font-size: medium;
  
    box-sizing: border-box;
    border-radius: 90px;
   background:transparent;}


  #input{
    margin-top: 10px;
    width: 70%;
    height:10vh ;
   background: transparent;
    font-size: medium;
    color:#fff;
    cursor: pointer;
    border: none;
    margin:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) 
  }
  .row1 button{
    color:black;
    background-color: rgb(184, 178, 178);
  }
#divide{
  background-color: orangered;
}

